.Contactdetails2-LeftColumn {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  padding-left: 10px; /* Adjusted padding for smaller screens */
  box-sizing: border-box;
}



/* Adjustments for the textfield and checkbox in mobile view */
/* @media (max-width: 430px) {
  .ListItemButton-root {
      flex-direction: column;
      align-items: flex-start;
  }

  .Checkbox-root {
      margin-top: 5px;

  .TextField-root {
      margin-top: 5px; 
  }
}
.ContactDetails2-LeftColumn-Avatar{
  margin-left: -1px;
}
.ContactDetails2-LeftColumn-ListItemText{
  margin-left: -3px;
}
.ContactDetails2-LeftColumn-Checkbox{
  margin-left: 7px;
}
} */

.Contactdetails2-RightColumn {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-right: 30px; 
  padding-left: 30px; 
  box-sizing: border-box;
}

.Contactdetails2-Maindiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  
  
  /*.Contactdetails2-LeftColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 60px;
    box-sizing: border-box;

  }
  
  .Contactdetails2-RightColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }*/
  
  /* .Contactdetails2-Maindiv { */
    /*padding: 10px;*/
    /* display: flex;
    flex-direction: row; */
   /* padding-top: 250px;*/
    /* flex-wrap: wrap; */
    /* height: 100vh; */
  /* } */
  
  /*.Contactdetails2-RightColumnCard{
    overflow-y: auto;
    
    
  }
  */
  /* @media (max-width: 430px) {
    .Contactdetails2-Maindiv {
        flex-direction: column; /* Change back to column layout for smaller screens */
    /* } */

    /* .Contactdetails2-LeftColumn,
    .Contactdetails2-RightColumn { */
        /* padding: 0 10px; Further adjusted padding for smaller screens */
    /* } */

    /* .Contactdetails2-RightColumn { */
        /* order: 1; Move right column to the top on smaller screens */
        /* margin-top: 20px; Add margin to separate the columns */
    /* }
  }  */