.personalInfo-main{
    display: flex;
    flex-direction: row;
}
.personalInfo-leftCol{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    /* box-sizing: border-box; */
    padding: 10px; 
}
.personalInfo-rightCol{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* box-sizing: border-box; */
    padding: 10px;
    overflow: hidden;  
}

@media (max-width: 700px){
    .personalInfo-main{
        flex-direction: column;
    }
    .personalInfo-leftCol,
    .personalInfo-rightCol {
        align-items: center;
    }
    .personalInfo-rightCol{
        order: -1;
        /* overflow: scroll;   */
    }
}