.WorkExperience1-Maindiv{
    display: flex;
    flex-direction: row;
}
.WorkExperience1-LeftColumn{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    box-sizing: border-box; 
    padding: 10px; 
}
.WorkExperience1-RightColumn{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
    box-sizing: border-box; 
    padding: 10px;
    overflow: hidden;  
}

@media (max-width: 700px){
    .WorkExperience1-Maindiv{
        flex-direction: column;
    }
    .WorkExperience1-LeftColumn,
    .WorkExperience1-rightCol {
        align-items: center;
    }
    .WorkExperience1-RightColumn{
        order: -1;
        /* overflow: scroll;   */
    }
    /* .WorkExperience1-LeftColumn{
        margin-top: 20px;
    } */
    
}