.insightBlog-container{
    padding: 0 4%;
    margin-top: 10px;
}
.insightBlog-blogHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 20px; */
}
.insightBlog-leftCol{
    display: flex;
    flex: 3;
    flex-direction: column;
}
.insightBlog-rightCol{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}
.insightBlog-blogTitle{
    font-size: 5vw;
    font-weight: 700;
}
.insightBlog-blogDate{
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.insightBlog-blogShareIcons{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.insightBlog-blogShareIcons img{
    width: 20px;
    height: 20px;
}
.insightBlog-blogTags{
    margin-top: 10px;
}
.insightBlog-blogTags span{
    font-size: 10px;
    background-color: #000;
    color: #fff;
    margin-right: 10px;
    padding: 6px 10px;
}


.insightBlog-blogDetails {
    /* max-width: 95%; */
    margin: 20px auto;
    padding: 20px 55px;
    background-color: burlywood;
    border-radius: 20px;
}
.insightBlog-blogDetails img{
    width: 100%;
    margin-bottom: 10px;
}
.insightBlog-blogDetails p{
    text-align: justify;
}


.insightBlog-numberedList {
    display: flex;
    flex-direction: column;
}
.insightBlog-list {
    display: flex;
    margin-bottom: 10px;
}
.insightBlog-number {
    /* flex-shrink: 0; */
    margin-right: 10px; 
}
.insightBlog-listDetail span{
    font-weight: bold;
}

@media(max-width: 700px){
    .insightBlog-blogDetails{
        /* max-width: 95%; */
        border: 2px solid black;
        padding: 20px 35px;
    }
    .insightBlog-blogDetails img{
        margin-bottom: 25px;
    }
    .insightBlog-blogTitle{
        font-size: 6vw;
    }
    .insightBlog-leftCol{
        margin-right: 5px;
    }
}