  
  
  .Contactdetails1-LeftColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* padding-left: 30px; */
    box-sizing: border-box;
    padding: 0;
    
  }
  .Contactdetails1LeftColumn-textfield{
    border-radius: 25px;
  }
  .Contactdetails1-RightColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    
    /* padding-right: 30px;
    padding-left: 30px; */
  }
  
  .Contactdetails1-Maindiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    margin: 0; /* Remove default margin */
    /*padding: 10px;*/
    /* display: flex;
    flex-direction: row; */
   /* padding-top: 250px;*/
    /* flex-wrap: wrap;
    height: 100vh; */
  }
  
  /*.Contactdetails1-RightColumnCard{
    overflow-y: auto;
    
    
  }
  */