  
  .Contactdetails2-LeftColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 60px;

  }
  
  .Contactdetails2-RightColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .Contactdetails2-Maindiv {
    /*padding: 10px;*/
    display: flex;
    flex-direction: row;
   /* padding-top: 250px;*/
    flex-wrap: wrap;
    height: 100vh;
  }
  
  /*.Contactdetails2-RightColumnCard{
    overflow-y: auto;
    
    
  }
  */