.Contactdetails2-Subdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-top: 100px*/
    min-height: 100vh;
}
  
  .Contactdetails2-LeftColumn {
    flex: 2;
    height: auto;
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

  }
  
  .Contactdetails2-RightColumn {
    flex: 1;
    height: auto;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
   
    
    
    
   /* align-self:flex-start;*/
    /*width: auto;*/
    
  }
  
  .Contactdetails2-Maindiv {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }