  
  .Contactdetails2-LeftColumn {
    flex: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    justify-content: flex-start;
    align-items: flex-start;
    
    

  }
  
  .Contactdetails2-RightColumn {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*justify-content: flex-start;
    align-items: flex-end;*/
    
    
  }
  
  .Contactdetails2-Maindiv {
    padding: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 300px;
   
  }
  .Contactdetails2-LeftColumnTextField{
    border-radius: 20px;
  }