/* YourComponent.css */

.TemplateSelection-Container {
    display: flex;
    height: 610px;
    padding-right: 18px;
    
  }
  
  .TemplateSelection-LeftColumn {
    /*width: 640px;*/
    flex: 1.5; /* Adjust the width of the left column as needed */
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    margin-top: 5px;
    box-sizing: border-box !important;
    overflow-y: auto;
  }
  
  .TemplateSelection-RightColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
   
  }
  
  .TemplateSelection-RightRow {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    overflow-y: auto;
    
  }
/*Below css is for the template table*/

.TemplateSelection-ResponsiveTemplateTableContainer {
  overflow-x: auto;
  
}

.TemplateSelection-TemplateTableHeading {
  text-align: left;
}

.TemplateSelection-TemplateTable {
  width: 100%;
  border-collapse: collapse;
}

.TemplateSelection-TemplateCell {
  padding: 8px;
  align-items: center;
  
 
}

.TemplateSelection-Templatediv {
  width: 185px;
  height: 259px;
  max-width: 100%;
  margin: 1px;
  padding: 8px;
  color: white;
  font-size: 20px;
  border: none;
  background-color: black;
}
.FirstRowTemplatediv1 {
  font-family: Calibri;
  
}

.FirstRowTemplatediv2 {
  font-family: Cambria;
}

.SecondRowTemplatediv1 {
  font-family: Helvetica;
}

.SecondRowTemplatediv2 {
  font-family: Georgia;
}

.ThirdRowTemplatediv1 {
  font-family: Verdana;
}

.ThirdRowTemplatediv2 {
  font-family: Garamond;
}
.FourthRowTemplatediv2 {
  font-family: Trebuchet MS;
}
.FourthRowTemplatediv2 {
  font-family: Lato;
}
/*Below css is for the color theme table*/
  
.TemplateSelection-responsiveColorTableContainer {
  overflow-x: auto;
}

.TemplateSelection-ColorTableHeading {
  text-align: left;
  font-size: 20px;
  font-family: Inter;
}
.TemplateSelection-ColorTablecolumnheading{
  font-family: Inter;
  font-size: 20px;
}

.TemplateSelection-ColorTable {
  width: 100%;
  border-collapse: collapse;
}

.TemplateSelection-ColorCell {
  padding: 8px;
  text-align: center;
}

.TemplateSelection-ColorButton {
  width: 150px;
  height: 43px;
  max-width: 100%;
  margin: 1px;
  padding: 8px;
  color: white;
  font-family: Inter;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  
}

.FirstRowColorButton1 {
  background-color: red;
}

.FirstRowColorButton2 {
  background-color: blue;
}

.SecondRowColorButton1 {
  background-color: green;
}

.SecondRowColorButton2 {
  background-color: yellow;
}

.ThirdRowColorButton1 {
  background-color: orange;
}

.ThirdRowColorButton2 {
  background-color: purple;
}


/*css for the typography table*/
.TemplateSelection-ResponsiveTypographyTableContainer {
  overflow-x: auto;
  
}

.TemplateSelection-TypographyTableHeading {
  text-align: left;
}

.TemplateSelection-TypographyTable {
  width: 100%;
  border-collapse: collapse;
}

.TemplateSelection-TypographyCell {
  padding: 8px;
  text-align: center;
}

.TemplateSelection-TypographyButton {
  width: 154px;
  height: 42px;
  max-width: 100%;
  margin: 1px;
  padding: 8px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  background-color: black;
}
.FirstRowTypographyButton1 {
  font-family: Calibri;
}

.FirstRowTypographyButton2 {
  font-family: Cambria;
}

.SecondRowTypographyButton1 {
  font-family: Helvetica;
}

.SecondRowTypographyButton2 {
  font-family: Georgia;
}

.ThirdRowTypographyButton1 {
  font-family: Verdana;
}

.ThirdRowTypographyButton2 {
  font-family: Garamond;
}
.FourthRowTypographyButton2 {
  font-family: Trebuchet MS;
}
.FourthRowTypographyButton2 {
  font-family: Lato;
}

  
  /* Below css is to make the template selection form responsive  */
  @media (max-width: 1000px) {
    .TemplateSelection-Container {
      flex-direction: column;
      height: auto;
    }
  
    .TemplateSelection-LeftColumn {
        width: 100%;
     
    }
  
    .TemplateSelection-RightColumn {
      flex: none;
    }
  
    .TemplateSelection-RightRow {
      flex: none;
    }
    .TemplateSelection-maindiv{
      padding-bottom: 40px;
    }
  }
  